[Unit]
Description=Build vibes library

[Service]
Type=oneshot
ExecStart=/usr/bin/tup
User=vibes
Group=vibes
PrivateNetwork=yes
WorkingDirectory={{ work_dir }}
StandardOutput=journal+console
StandardError=journal+console
