[Unit]
Description=Monitor music build dependencies for changes

[Service]
Type=simple
ExecStart=/usr/bin/tup monitor
ExecStop=/usr/bin/tup stop
User=music
Group=music
#CapabilityBoundingSet=CAP_SYS_ADMIN CAP_SETUID CAP_SETGID
#AmbientCapabilities=CAP_SYS_ADMIN CAP_SETUID CAP_SETGID
PrivateNetwork=yes
WorkingDirectory={{ work_dir }}
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
