[Unit]
Description=Build music library
Requires={{ sources_mount_unit_name.stdout }}

[Service]
Type=oneshot
ExecStart=/usr/bin/tup
User=music
Group=music
WorkingDirectory={{ work_dir }}
Restart=on-failure
