[Unit]
Description=Synchronize music sources
Requires={{ mount_unit_name.stdout }}

[Service]
Type=oneshot
ExecStart=/usr/bin/aws s3 sync --dryrun --quiet --delete s3://{{ source_bucket }} {{ mount_point }}
User=music
Group=music
WorkingDirectory={{ mount_point }}
Restart=on-failure
