[Unit]
Description=Build music library

[Service]
Type=oneshot
ExecStart=/usr/bin/tup
User=music
Group=music
PrivateNetwork=yes
WorkingDirectory={{ work_dir }}
StandardOutput=journal+console
StandardError=journal+console
