[Unit]
Description=Monitor music files for changes
Requires={{ mount_unit_name.stdout }}

[Service]
Type=simple
ExecStart=/usr/bin/tup monitor
User=music
Group=music
WorkingDirectory={{ mount_point }}
Restart=on-failure
