[Unit]
Description=Monitor vibes build dependencies

[Service]
Type=simple
ExecStart=/usr/bin/bash -c "tup monitor"
ExecStop=/usr/bin/bash -c "tup stop"
User=vibes
Group=vibes
#CapabilityBoundingSet=CAP_SYS_ADMIN CAP_SETUID CAP_SETGID
#AmbientCapabilities=CAP_SYS_ADMIN CAP_SETUID CAP_SETGID
PrivateNetwork=yes
WorkingDirectory={{ work_dir }}
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
